<main-banner>
    <section class="flex mt-10">
        <header-text>Kevin something!</header-text>
    </section>

    <script>
        import HeaderText from "../header-text/header-text.riot"
        export default {
            components: {
                HeaderText
            }
        }
    </script>
</main-banner>