
<game-cell class="{props.alive ? 'bg-slate-500' : 'bg-transparent'} block w-4 h-4">
    &nbsp;
    <script>
        export default {
            shouldUpdate(newP, currP) {
                return newP.alive !== currP.alive;
            }
        }
    </script>
</game-cell>