<app class="">
    <main-banner></main-banner>
    <script>
        import MainBanner from './components/main-banner/main-banner.riot'
        export default {
            components: {
                MainBanner
            }
        }
    </script>
</app>